.card {
    z-index: 1;
    width: auto;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.card,
.cardImg {
    border-radius: 0;
}

.cardImg {
    width: 100%;
    position: relative;
    aspect-ratio: 4/3;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.card:hover {
    aspect-ratio: 1/1;
    transform: scaleX(1.4) scaleY(1.4);
    z-index: 10;
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover>.card-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    z-index: 100;
}

.card-body {
    display: none;
    padding: 10px 15px;
    background-color: black;
    color: white;
    top: 110px;
    width: 100%;
    border: 1px solid rgba(white, 0.3);
    border-top: 0;
}

.card .details p {
    font-size: 0.7em;
}

.yourMatch {
    color: rgb(0, 172, 0);
}

.adjectives {
    text-align: center;
}

.adjectives span {
    font-size: 0.7em;
    padding: 5px;
    margin: 2px;
    border-radius: 2em;
}