.App {
    background-color: black;
}

#content {
    padding-top: 70px;
}

.App-link {
    color: #61dafb;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
    background: black !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    color: black !important;
}

.carouselTitle {
    color: white;
    font-size: 1.4em;
}

.slider,
.slick-list,
.slick-track {
    overflow: visible !important;
    z-index: 5;
}

.slick-prev,
.slick-next {
    z-index: 10;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}