.App {
    background-color: black;
}

.App-link {
    color: #61dafb;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
    background: black !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    color: black !important;
}

.carouselTitle {
    color: white;
    font-size: 1.4em;
}