.App {
    text-align: center;
    background-color: black;
}

.App-link {
    color: #61dafb;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
    background: black !important;
}